In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
import numpy as np
from sklearn.preprocessing import OneHotEncoder

data = pd.read_csv('ds_salaries.csv', index_col='db_id')
y = data['salary']
'corr = data[['company_location', 'experience_level', 'job_title']]'

X_train, X_test, y_train, y_test = train_test_split(corr, y, test_size=.1, random_state=42)
# data = data.loc[(pd.isnull(data['company_location']) == False) & (pd.isnull(data['experience_level']) == False)
#                 & (pd.isnull(data['job_title']) == False)]

In [13]:
def from_str_to_intarray(column_before, data):
#     column_cat = column_before
#     column_encoder = OneHotEncoder()
#     column_encoder_cat_1hot = column_encoder.fit_transform(column_cat)
#     return column_encoder_cat_1hot.toarray()

    import pandas as pd
    from sklearn.preprocessing import LabelBinarizer

    jobs_encoder = LabelBinarizer()
    jobs_encoder.fit(data[column_before])
    transformed = jobs_encoder.transform(data[column_before])
    ohe_df = pd.DataFrame(transformed)
    data = pd.concat([data, ohe_df], axis=1).drop([column_before], axis=1)
    return data

In [14]:
new_data = pd.DataFrame(from_str_to_intarray('company_location', X_train))
new_data.head()

,experience_level,job_title,0,1,2,3,4,5,6,7,...,36,37,38,39,40,41,42,43,44,45
196,EN,BI Data Analyst,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
77,MI,3D Computer Vision Researcher,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
63,SE,Data Scientist,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
165,SE,Data Specialist,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
542,MI,Data Engineer,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
new_data = pd.DataFrame(from_str_to_intarray('company_location', X_train))
new_data.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 598 entries, 196 to 543
Data columns (total 48 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   experience_level  546 non-null    object
 1   job_title         546 non-null    object
 2   0                 546 non-null    float64
 3   1                 546 non-null    float64
 4   2                 546 non-null    float64
 5   3                 546 non-null    float64
 6   4                 546 non-null    float64
 7   5                 546 non-null    float64
 8   6                 546 non-null    float64
 9   7                 546 non-null    float64
 10  8                 546 non-null    float64
 11  9                 546 non-null    float64
 12  10                546 non-null    float64
 13  11                546 non-null    float64
 14  12                546 non-null    float64
 15  13                546 non-null    float64
 16  14                546 non-null    float64
 17  15                546 non-null    float64
 18  16                546 non-null    float64
 19  17                546 non-null    float64
 20  18                546 non-null    float64
 21  19                546 non-null    float64
 22  20                546 non-null    float64
 23  21                546 non-null    float64
 24  22                546 non-null    float64
 25  23                546 non-null    float64
 26  24                546 non-null    float64
 27  25                546 non-null    float64
 28  26                546 non-null    float64
 29  27                546 non-null    float64
 30  28                546 non-null    float64
 31  29                546 non-null    float64
 32  30                546 non-null    float64
 33  31                546 non-null    float64
 34  32                546 non-null    float64
 35  33                546 non-null    float64
 36  34                546 non-null    float64
 37  35                546 non-null    float64
 38  36                546 non-null    float64
 39  37                546 non-null    float64
 40  38                546 non-null    float64
 41  39                546 non-null    float64
 42  40                546 non-null    float64
 43  41                546 non-null    float64
 44  42                546 non-null    float64
 45  43                546 non-null    float64
 46  44                546 non-null    float64
 47  45                546 non-null    float64
dtypes: float64(46), object(2)
memory usage: 228.9+ KB

Empty DataFrame
Columns: []
Index: []

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 607 entries, 0 to 606
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           607 non-null    int64
 1   experience_level    607 non-null    object
 2   employment_type     607 non-null    object
 3   job_title           607 non-null    object
 4   salary              607 non-null    int64
 5   salary_currency     607 non-null    object
 6   salary_in_usd       607 non-null    int64
 7   employee_residence  607 non-null    object
 8   remote_ratio        607 non-null    int64
 9   company_location    607 non-null    object
 10  company_size        607 non-null    object
dtypes: int64(4), object(7)
memory usage: 56.9+ KB

In [7]:
from sklearn.tree import DecisionTreeClassifier
y = data['salary']
corr = data[['company_location', 'experience_level', 'job_title']]
clf = DecisionTreeClassifier(random_state=42)
clf.fit(X_train, y_train)
importances = clf.feature_importances_
print("Salary-company_location ", importances[0])
print("Salary-experience_level ", importances[1])
print("Salary-job_title ", importances[2])
model_score = abs(clf.score(X_test, y_test))
print("score ", model_score)

ValueError: could not convert string to float: 'KE'